
body{
  background-image: url("./assets/background.png");
  background-size: 150%;
}

.App {
  text-align: center;

}

h1 {
  text-align: center;
  color: azure;
}

.header {
  text-align: center;
  color: azure;
}

.header label{
  margin: 0 20px;
}

.header button{
  margin: 0 10px;
}

.gameButton {
  width: 600px;
  margin: 5px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.gameButton button{
  background: transparent;
  border: none;
  height: 150px;
}

.gameButton button:hover{
  background-color: aqua;

}

.nuage{
  background-image: url("./assets/nuage.png");
  background-size: contain;
  width: 200px;
  height: 200px;
  transform: translateY(-150px);
  }

.mylou{
  background-image: url("./assets/mylou_diable.png");
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

@keyframes apparition {
  0%{
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}


.link {
  color: #b318f0;
}

