.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.header {
  text-align: center;
}

.header label{
  margin: 0 20px;
}

.header button{
  margin: 0 10px;
}

.gameButton {
  width: 400px;
  margin: 5px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin-top: 20px;
}

.gameButton button{
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.gameButton button:hover{
  background-color: aqua;
}



.link {
  color: #b318f0;
}

