
body{
  background-image: url("./assets/background.png");
  background-size: 150%;
}

.App {
  text-align: center;

}

h1 {
  text-align: center;
  color: azure;
}

.header {
  text-align: center;
  color: azure;
}

.header label{
  margin: 0 20px;
}

.header button{
  margin: 0 10px;
}

.grid {
  width: 600px;
  margin: 5px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}







.link {
  color: #b318f0;
}

